<div class="text-field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name, type: 'First Name' %>
</div>

<div class="text-field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name, type: 'Last Name' %>
</div>

<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>
	<%= form.label :profile_pic %>
	<%= form.file_field :profilepic %>
<div>

</div>