<div class="row" style="margin: -10px 0px 0px -38px; width: 106%;">   
  <div id="profile-info" class="col-md-4">
    <h1 style="padding-left: 20px;" class='text-center'><%= @users.first_name %> <%= @users.last_name %>'s Profile</h1> 
    <div class='text-center'> 
      <% if @users.profilepic.url != nil %>
        <%= image_tag @users.profilepic.card.url %><br>
      <% end %>
    </div>
    <span>Full Name: <%= @users.first_name %> <%= @users.last_name %></span><br>
    <span>Email Address: <%= @users.email %></span><br>
    <span><%= link_to edit_user_path(@users) do %> Edit Profile <% end %></span><br>
    <span><%= link_to 'Destroy', delete_user_path(@users), method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>

  <div class="col-md-8" style="padding: 0;">
  <!--Fixed tab example -->
    <div class="pmd-card pmd-z-depth" id='users-tab'>
      <div class="pmd-tabs pmd-tabs-bg">
        <div class="pmd-tab-active-bar"></div>
          <ul role="tablist" class="nav nav-tabs">
          <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="home" href="#home-fixed">Listings</a></li>
          <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="home" href="#home-fixed">Reservations</a></li>
          <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="profile" href="#about-fixed">Your Trips</a></li>
          <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="messages" href="#work-fixed">Reviews</a></li>
          </ul>
        </div>
        <div class="pmd-card-body">
          <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home-fixed">A tab provides the affordance for displaying grouped content. A tab label succinctly describes the tab’s associated grouping of content.</div>
          <div role="tabpanel" class="tab-pane" id="about-fixed">Fixed tabs have equal width, calculated either as the view width divided by the number of tabs, or based on the widest tab label. To navigate between fixed tabs, touch the tab or swipe the content area left or right.</div>
          <div role="tabpanel" class="tab-pane" id="work-fixed">To navigate between scrollable tabs, touch the tab or swipe the content area left or right. To scroll the tabs without navigating, swipe the tabs left or right.</div>
          <div role="tabpanel" class="tab-pane" id="work-fixed">To navigate between scrollable tabs, touch the tab or swipe the content area left or right. To scroll the tabs without navigating, swipe the tabs left or right.</div>
        </div>
      </div>
    </div> <!--Fixed tab example end-->
  </div>
</div>


    