<div id="clearance" class="sign-up" style="padding-top: 120px;">
  <h2><%= t(".title") %> Here! </h2>

  <%= form_for @user, remote: true do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="password-field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">

      <%= link_to t(".sign_in"), users_path %>
    </div>
  <% end %>
  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
</div>