<%= stylesheet_link_tag    "application", :media => "all" %>
<nav class="menu" style="z-index: 10; width: 100%;">
  <ul class="active row" style='width: 100%;'>
  	<li class="col-md-1"><%= link_to root_path do %><img id='nav-bar-logo' src="/assets/connections-dark.png"><% end %></li>
    <li class="col-md-2" id="nav-options"><%= link_to "Listings", listings_path %></li>
	<% if signed_in? -%>
	  	<li class="col-md-2" id="nav-options">
			<%= link_to "Profile", users_index_path %>
		</li>
	<% else -%> 
	    <li class="col-md-2" id="nav-options">
	    <%= link_to "Sign In", sign_in_path %>
	    </li>
	<% end -%>

    <li class="col-md-2" id="nav-options" data-toggle="modal" data-target="#myModal">LOGIN</li>

    <li class="col-md-2" id="nav-options"><% if signed_in? -%><%= link_to "Sign Off", sign_out_path, method: :delete %><% else -%><%= link_to "Sign Up", sign_up_path %>
	    <% end -%>
    </li>
  </ul>
</nav>