<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>

</head>
</head>
<body>
  <div id="header">
    <% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
      <%= current_user.email %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>
  </div>

  <div style='background-color: black; height: 100px; width: 100px'>
  <%= link_to root_path do %>
    <% if signed_in? -%>
      <% if current_user.profilepic.thumb.url != nil %>
        <%=image_tag current_user.profilepic.thumb.url, class:'profile_pic'%>
      <% else -%>
        <img class='profile_pic' src="/blank_profile_pic_Fotor.png">
      <% end -%>
    <% else -%>
        <img class='profile_pic' src="/blank_profile_pic_Fotor.png">
    <% end -%>
  <% end %>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

<% if current_user != nil %>
  <% if current_user.superadmin? %>
    <h3>Welcome Super Admin</h3>
  <% elsif current_user.moderator? %>
    <h3>Welcome, Moderator</h3>
  <% else %>
    <h3>Welcome Customer</h3>
  <% end %>
<% end %>

  <%= yield %>
</body>
</html>
